body {
    background-color: #FFF4B6;
    font-size: 100%;
}

.graph {
    background-color: cornsilk;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
    height: fit-content;
    padding: 2em;
}

.header {
    font-size: 2.5em;
    font-weight: bold;
    font-family: Spectral, serif;
    text-align: center;
    padding: 0.1em;
    margin: 0 auto;
}

.container {
    padding: 1em;
    width: 85vw;
    margin: 0 auto;
}

.text {
    width: fit-content;
    height: fit-content;
    font-family: Rubik, sans-serif;
    font-size: 1em;
    text-align: center;
}

.caption {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 0.5em;
    text-align: center;
}

.button {
    width: 3em;
    height: 3em;
    font-size: 3em;
    position: absolute;
    font-family: Rubik, sans-serif;
    top: 10%;
}

.prev {
    color: ivory;
    background-color: darkgray;
    left: 10%;
    text-align: center;
    border-radius: 50%;
}

.next {
    color: ivory;
    background-color: coral;
    right: 10%;
    text-align: center;
    border-radius: 50%;
}